{% extends "base.html" %}
{% load filters %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col_sm_12">
                <h4>Information Passagers disponibles</h4>
                <form action="{% url 'network:pax' %}" method="post">{% csrf_token %}
                    <input type="text" placeholder="Groupe" name="group">
                    <input type="submit" value="information" class="btn btn-primary btn-sm" name="search">
                </form>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-12">
                <h5>Groupe : {{ group }}</h5>
                <table>
                    <tr>
                        <th>FBO</th>
                        <th>Nombre pax</th>
                        <th>Montant</th>
                    </tr>
                    {% for p in pax %}
                        <tr>
                            <td>{{ p.icao }}</td>
                            <td class="text-right">{{ p.nbjobs }}</td>
                            <td class="text-right">{{ p.amount|float_string }}$</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>


{% endblock %}