
    <footer class="footer-main">
        <div class="container">
{#            <div class="row">#}
{#                <div class="col-lg-3">#}
{#                    <h3>app_name</h3>#}
{#                    <ul>#}
{#                        <li><a href="#">data_test</a></li>#}
{#                        <li><a href="#">data_test</a></li>#}
{#                        <li><a href="#">data_test</a></li>#}
{#                        <li><a href="#">data_test</a></li>#}
{#                        <li><a href="#">data_test</a></li>#}
{#                        <li><a href="#">data_test</a></li>#}
{#                        <li><a href="#">data_test</a></li>#}
{#                    </ul>#}
{#                </div>#}
{##}
{#                <div class="col-lg-3">#}
{#                    <h3>Ressources</h3>#}
{#                    <ul>#}
{#                        <li><a href="#">Communauté des développeurs</a></li>#}
{#                        <li><a href="#">Support</a></li>#}
{#                        <li><a href="#">Registraire</a></li>#}
{#                        <li><a href="#">Blogs</a></li>#}
{#                        <li><a href="#">Webinaires</a></li>#}
{#                    </ul>#}
{#                </div>#}
{#                <div class="col-lg-2">#}
{#                    <h3>Univ</h3>#}
{#                    <ul>#}
{#                        <li><a href="#">Contactez-nous</a></li>#}
{#                        <li><a href="#">Partenaires</a></li>#}
{#                        <li><a href="#">Témoignages</a></li>#}
{#                        <li><a href="#">Emplois</a></li>#}
{#                    </ul>#}
{#                </div>#}
{#                <div class="col-lg-2">#}
{#                    <h3 class="contacts">Contacts</h3>#}
{#                    <ul>#}
{#                        <li><a href="#">data_test</a></li>#}
{#                        <li><a href="#">data_test</a></li>#}
{#                        <li><a href="mailto:admin@tradom.ca">Web maistre</a></li>#}
{#                    </ul>#}
{#                </div>#}
{#                <div class="col-lg-2">#}
{#                    <h3>Social</h3>#}
{#                    <ul>#}
{#                        <li class="facebook" title="Facebook"><a href="#">Facebook</a></li>#}
{#                        <li class="gPlus" title="Google+"><a href="#">Google+</a></li>#}
{#                        <li class="in" title="LinkedIn"><a href="#">LinkedIn</a></li>#}
{#                        <li class="twitter" title="Twitter"><a href="#">Twitter</a></li>#}
{#                        <li class="youtube" title="YouTube"><a href="#">YouTube</a></li>#}
{#                    </ul>#}
{#                </div>#}
{#            </div>#}
            <br class="clr"/>
            <div class="footer-main-bas">
                <div class="row">
                    <p>
                        &copy; 2018-2019 GAUGAUAIR. Tous droits réservés.
                        Développé par FORMAPRO avec <a href="https://www.jetbrains.com/pycharm/">PyCharm </a>et
                        <a href="https://www.djangoproject.com/"> Django</a>
{#                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#}
{#                        <a href="#">Vie privée</a> | <a href="#">Limites d'utilisation</a>#}
                    </p>
                    <br class="clr"/>
                </div>
            </div>
        </div>
    </footer>
