{% load static %}

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #51d1eb">
    <a class="navbar-brand" href="{% url 'avion:accueil' %}">
        <img src="{% static 'avion/img/logo_icone_01.png' %}" width="45" height="30"
             class="d-inline-block align-top" alt="logo">
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'avion:stats' %}">Statistiques
                    <span class="sr-only">(current)</span></a>
            </li>
{#            <li class="nav-item active">#}
{#                <a class="nav-link" href="{% url 'network:fresno' %}">Fresno#}
{#                    <span class="sr-only">(current)</span></a>#}
{#            </li>#}
{#            <li class="nav-item dropdown active">#}
{#                <a class="nav-link dropdown-toggle" href="#" id="networkDropdown"#}
{#                   role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#                    Réseaux#}
{#                </a>#}
{#                <div class="dropdown-menu" aria-labelledby="networkDropdown">#}
{#                    <a class="dropdown-item" href="{% url 'network:home' %}">Network Manager Labs</a>#}
{#                    <a class="dropdown-item" href="{% url 'network:description' %}">Description</a>#}
{#                    <div class="dropdown-divider"></div>#}
{#                    <a class="dropdown-item" href="{% url 'avion:fbos' %}">FBO's</a>#}
{#                    <a class="dropdown-item" href="{% url 'avion:facilities' %}">Facilities</a>#}
{#                    <a class="dropdown-item disabled" href="{% url 'network:pax' %}">Pax</a>#}
{#                </div>#}
{#            </li>#}
{#            <li class="nav-item dropdown active">#}
{#                <a class="nav-link dropdown-toggle" href="#" id="aircraftdropdown"#}
{#                   role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#                    Avions#}
{#                </a>#}
{#                <div class="dropdown-menu" aria-labelledby="aircraftdropdown">#}
{#                    <a class="dropdown-item" href="{% url 'avion:aircrafts' %}">Flotte</a>#}
{#                    <a class="dropdown-item" href="{% url 'avion:aircrafts_cost' %}">Répartition des gains</a>#}
{#                </div>#}
{#            </li>#}
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="financedropdown"
                   role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Finances
                </a>
                <div class="dropdown-menu" aria-labelledby="financedropdown">
                    <a class="dropdown-item" href="{% url 'finances:home' %}">Emprunts</a>
                    <a class="dropdown-item" href="{% url 'avion:enregistrements' %}">Récapitulatif</a>
                </div>
            </li>

        </ul>
    </div>
    <div id="navbar" class="navbar-right">
        <a class="nav-item active" href="{% url 'admin:index' %}">Administration</a>
    </div>
</nav>
